<?xml version="1.0"?>
<model>
  <name>city_terrain_overcast</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>KNR</name>
    <email>noreply@knr.local</email>
  </author>

  <description>
    City terrain variant with colder overcast-friendly texture blend.
  </description>
</model>
