<?xml version="1.0"?>
<model>
  <name>tent_orange</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>KNR Team</name>
    <email>noreply@knr.local</email>
  </author>

  <description>
    Muted orange tent variant for terrain dataset.
  </description>
</model>
