<?xml version="1.0"?>

<model>
  <name>City terrain HQ</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>KNR Team</name>
    <email>noreply@knr.local</email>
  </author>

  <description>
    Terrain for terrain world with less tiling and stronger normal detail.
  </description>
</model>
